
.icon-lock:before { content: '\e800'; } /* '' */
.icon-tools:before { content: '\e801'; } /* '' */
.icon-vocab:before { content: '\e802'; } /* '' */
.icon-recording:before { content: '\e803'; } /* '' */
.icon-sub-group:before { content: '\e804'; } /* '' */
.icon-sub-group-plus:before { content: '\e805'; } /* '' */
.icon-voucher-list:before { content: '\e806'; } /* '' */
.icon-uk-i:before { content: '\e807'; } /* '' */
.icon-user-mod:before { content: '\e808'; } /* '' */
.icon-user-tutor:before { content: '\e809'; } /* '' */
.icon-user-mod-2-plus:before { content: '\e80a'; } /* '' */
.icon-user-mod-plus:before { content: '\e80b'; } /* '' */
.icon-user-tutor-plus:before { content: '\e80c'; } /* '' */
.icon-user-student:before { content: '\e80d'; } /* '' */
.icon-group-plus:before { content: '\e80e'; } /* '' */
.icon-user-student-plus:before { content: '\e80f'; } /* '' */
.icon-time15:before { content: '\e816'; } /* '' */
.icon-time30:before { content: '\e817'; } /* '' */
.icon-time45:before { content: '\e818'; } /* '' */
.icon-time50:before { content: '\e819'; } /* '' */
.icon-play:before { content: '\e81a'; } /* '' */
.icon-audio:before { content: '\e81b'; } /* '' */
.icon-uk:before { content: '\e81c'; } /* '' */
.icon-user-admin:before { content: '\e81d'; } /* '' */
.icon-user-mod-2:before { content: '\e81f'; } /* '' */
.icon-group:before { content: '\e820'; } /* '' */
.icon-user-admin-plus:before { content: '\e821'; } /* '' */
.icon-building:before { content: '\e823'; } /* '' */
.icon-building-plus:before { content: '\e824'; } /* '' */
.icon-assess-list:before { content: '\e825'; } /* '' */
.icon-userguide:before { content: '\e826'; } /* '' */
.icon-voucher-plus:before { content: '\e827'; } /* '' */
.icon-distributor:before { content: '\e828'; } /* '' */
.icon-distributor-plus:before { content: '\e829'; } /* '' */
.icon-notebook:before { content: '\e82c'; } /* '' */
.icon-forum:before { content: '\e82d'; } /* '' */
.icon-dictionary:before { content: '\e82e'; } /* '' */
.icon-grammarguide:before { content: '\e82f'; } /* '' */
.icon-email:before { content: '\e831'; } /* '' */
.icon-user-roles:before { content: '\e832'; } /* '' */